/* @font-face {
    font-family: raleway;
    src: url(static/Raleway-Regular.ttf);

} */

body {
    text-decoration-color: black;
    font-family: raleway;
}


header {
    border: 2px solid black;
    margin: 10px;
}

/* Logo et menu nav */

.logoetnav {
    display: flex;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
}

.logoetnav .navigateur ul {
    display: flex;
    list-style-type:none;
    border: 2px solid;
    height: 100px;
}

.logoetnav .navigateur ul li {
    list-style-type: none;
}

.logoetnav .navigateur ul li a {
    width:100px;
    background-color: gray;
    color:black;
    text-decoration:none;
    outline: none;
    text-align: center;
    padding:10px;
    border:2px solid;
}

/* Barre de Recherche */

.recherche .barre {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 30%;
    margin-bottom: 10px;
    margin-top: 10px;
    /* border: 2px solid black;
    border-radius: 10px; */
}

.recherche .barre .iconmap {
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    border: 2px solid #F2F2F2;
    padding: 10px;
    /* color: #0065FC; */
}

.recherche .barre .input {
    height: 100%;
    width: 100%;
    size: 20px;
    /* width: 60%; */
}

.recherche .barre .input [type="search"] {
    border: 2px solid #F2F2F2;
    /* height: inherit;
    width: inherit; */
    padding: 10px;

}

.recherche .barre .input ::placeholder {
    color: black;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.recherche .barre .bouttonrecherche {
    width: 30%;
}

.recherche .barre .bouttonrecherche button {
    /* height: 100%; */
    width: 100%;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    border-color: #F2F2F2;
    color: white;
    font-weight: bold;
    padding: 10px;
}

/* Filtres */

.filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    /* width: 100%; */
}

.filtres .description span { 
    color: black;
    font-weight: bold;
}

.filtres .icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.filtres .icons .iconfiltre {
    border: 2px solid;
    border-radius: 50px;
    border-color: #F2F2F2;
    /* border-style: inset; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-items: stretch; */
    
}

.filtres .icons .iconfiltre i {
    border: 2px solid red;
    border-radius: 50px;
    background-color: #deebff;
    color: #0065FC;
    padding: 10px;
    align-self: center;
    
}

.filtres .icons .iconfiltre span { 
    font-weight: bold;
    padding: 10px;
    margin-left: 10px;
}

/* Main */

main{
    border: 2px solid blue; 
    margin: 10px;
    display: flex;
    /* width: 100%; */
    height: 1260px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
    object-fit: contain;
    /* border-radius: 20px; */
}

/* Hebergements a marseille */

.hebergements {
    display: flex;
    /* border: 2px solid red;  */
    width: 60%;
    background-color: #F2F2F2;
    border-radius: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.hebergements h2 {
    padding-left: 15px;

}

.hebergements .figures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hebergements .figures a {
    width: 30%;
    height: 400px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.hebergements .figures a .figure {
    width: 100%;
    /* border: 2px solid orange; */
    border-radius: 20px;
    box-shadow: 4px 4px 10px grey;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 5px;
}

.hebergements .figures a .figure .image { 
    border-radius: 20px 20px 0 0;
    height: 230px;
    /* padding: 5px; */

    /* background-clip: padding-box; */
    /* border: 2px solid black; */
    /*  Pour centrer l'image dans la boite 
    border-style: hidden;*/
    /* width: 100%;  */
    /* overflow: hidden; */
}

.hebergements .figures .figure .image img { 
    /* display: none; */
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
} 

.hebergements .figures .figure .etoile {
    color: #0065FC;
}

/* Plus populaires */

.pluspopulaires {
    /* border: 2px solid red;  */
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.pluspopulaires .titre {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: baseline;
}

.pluspopulaires .figurespopulaires {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    /* height: 100%; */
}

.pluspopulaires .figurespopulaires a {
    text-decoration: none;
    color: black;
    width: 90%;    /*  a verifier */
    height: 290px;
    display: flex;
    align-items: center;
}

.pluspopulaires .figurespopulaires a .figurepop {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    border-radius: 20px 20px 20px;
    box-shadow: 4px 4px 10px grey;
    background-color: white;
    padding: 5px;
    margin: 5px;
    /* margin: O; */
    /* align-items: flex-start; */
    /* border: 2px solid gray; */
   
}
.pluspopulaires .figurespopulaires a .figurepop figcaption {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 50%;
}

.pluspopulaires .figurespopulaires a .figurepop .image {
    /* border: 2px solid black; */
    border-radius: 20px 0 0 20px;
    width: 50%; 
    height: 260px;
    overflow: hidden;
}

.pluspopulaires .figurespopulaires a .figurepop .image img {
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}


.pluspopulaires .figurespopulaires a .figurepop .figaside .etoile {
    color: #0065FC;
}

.hebergements .afficher {
    padding-left: 15px;
}

.hebergements .afficher a {
    text-decoration: none;
    color:black;
}

/* Activités */

.activites {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}

.activites .figuresactivites {
    height: 900px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowraps;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.activites .figuresactivites .column {
    /* border: 2px solid green; */
    width: 22%;
    height: 895px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.activites .figuresactivites .column a {
    /* border: 2px solid blue; */
    text-decoration: none;
    color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.activites .figuresactivites .column a .figactivites {
    /* border: 2px solid yellow; */
    width: 100%;
    border-radius: 20px;
    box-shadow: 4px 4px 10px grey;
    margin: 0;
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap; */
}

.activites .figactivites .column a .figactivites .image{
    border: 2px solid blueviolet;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    
}

.activites .figactivites .column a .figactivites .image img {
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activites .figuresactivites .column .figactivites figcaption {
    /* border: 2px solid saddlebrown; */
    border-radius: 0 0 20px 20px;
    height: 115px;
    justify-items: center;
}

/* Port et Parc */

.activites .figuresactivites .columnlong {
    height: 895px;
}

.activites .figuresactivites .columnlong a .figactivites {
    height: 895px
}

.activites .figuresactivites .columnlong a .figactivites .image {
    height: 780px;
}

.activites .figuresactivites .columnlong a .figactivites .image img {
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/* Pomegues */

.activites .figuresactivites .column .pomegues {
    height: 420px;
}

.activites .figuresactivites .column .pomegues a .grand {
    height: 420px;
}

.activites .figuresactivites .column .pomegues a .grand .image {
    height: 305px
}

.activites .figuresactivites .column .pomegues a .grand .image img { 
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
} 

/* Frioul */

.activites .figuresactivites .column .frioul {
    height: 395px;
}

.activites .figuresactivites .column .frioul a .petit {
    height: 395px;
}

.activites .figuresactivites .column .frioul a .petit .image {
    height: 280px;
}

.activites .figuresactivites .column .frioul a .petit .image img {
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/* Dame */

.activites .figuresactivites .column .dame {
    height: 395px;
}

.activites .figuresactivites .column .dame a .petit {
    height: 395px;
}

.activites .figuresactivites .column .dame a .petit .image {
    height: 280px;
}

.activites .figuresactivites .column .dame a .petit .image img {
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/* Longchamp */

.activites .figuresactivites .column .longchamp {
    height: 420px;
}

.activites .figuresactivites .column .longchamp a .grand {
    height: 420px;
}

.activites .figuresactivites .column .longchamp a .grand .image {
    height: 305px
}

.activites .figuresactivites .column .longchamp a .grand .image img { 
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/* Footer */
footer {
    border: 2px solid orange;

}

.footer {
    background-color: #F2F2F2;
}

.footer .orgfooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer .orgfooter ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.footer .orgfooter ul li a {
    text-decoration: none;
    list-style-type: none;
}
