/* @font-face {
    font-family: raleway;
    src: url(static/Raleway-Regular.ttf);

} */

body {
    text-decoration-color: black;
    font-family: raleway;
}


header {
    border: 2px solid black;
}

/* Logo et menu nav */

.logoetnav {
    display: flex;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoetnav .logo {
    margin-left: 10px;
}

.logoetnav .navigateur {
    display: flex;
}

.navigateur ul {
    padding:0;
    margin:0;
    list-style-type:none;
}

.navigateur ul li {
    list-style-type: none;
    outline: none;
    margin-left:2px;
    float:left; 
    /* text-decoration-color: #0065FC; */
    /* padding: 2px 0px 0px; */
}

.navigateur ul li a {
    /* display:block; */
    float:left;   
    width:100px;
    background-color: gray;
    color:black;
    text-decoration:none;
    outline: none;
    text-align: center;
    padding:10px;
    border:2px solid;
}


/* Barre de Recherche */

.recherche .barre {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 400px;
    border: 2px solid black;
    border-radius: 10px;
}

.recherche .barre .iconmap {
    height: 50px;
    width: 50px;
} 

.recherche .barre .input {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.recherche .barre .bouttonrecherche {
    height: 50px;
    width: 120px;
}
/* FLitres */

.filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    /* width: 100%; */
}

.filtres .icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.filtres .icons .iconfiltre {
    border: 2px solid black;
    border-radius: 10px;
    border-color: #F2F2F2;
    border-style: inset;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.filtres .icons .iconfiltre i {
    border: 2px solid red;
    border-radius: 10px;
}

/* Main */

main{
    border: 2px solid blue; 
    margin: 10px;
    display: flex;
    /* width: 100%; */
    height: 1260px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
    object-fit: contain;
    /* border-radius: 20px; */

}

/* hebergements a marseille */
.hebergements {
    display: flex;
    /* border: 2px solid red;  */
    width: 60%;
    background-color: #F2F2F2;
    border-radius: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.hebergements h2 {
    padding-left: 15px;

}

.hebergements .figures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hebergements .figures a {
    width: 30%;
    height: 400px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.hebergements .figures a .figure {
    width: 100%;
    /* border: 2px solid orange; */
    border-radius: 20px;
    box-shadow: 4px 4px 10px grey;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 5px;
}

.hebergements .figures a .figure .image { 
    border-radius: 20px 20px 0 0;
    height: 230px;
    /* padding: 5px; */

    /* background-clip: padding-box; */
    /* border: 2px solid black; */
    /*  Pour centrer l'image dans la boite 
    border-style: hidden;*/
    /* width: 100%;  */
    /* overflow: hidden; */
}

.hebergements .figures .figure .image img { 
    /* display: none; */
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
} 

.hebergements .figures .figure .etoile {
    color: #0065FC;
}


/* les plus populaires */

.pluspopulaires {
    /* border: 2px solid red;  */
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.pluspopulaires .titre {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: baseline;
}


.pluspopulaires .figurespopulaires {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    /* height: 100%; */
}

.pluspopulaires .figurespopulaires a {
    text-decoration: none;
    color: black;
    width: 90%;    /*  a verifier */
    height: 290px;
    display: flex;
    align-items: center;
}

.pluspopulaires .figurespopulaires a .figurepop {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    border-radius: 20px 20px 20px;
    box-shadow: 4px 4px 10px grey;
    background-color: white;
    padding: 5px;
    margin: 5px;
    /* margin: O; */
    /* align-items: flex-start; */
    /* border: 2px solid gray; */
   
}
.pluspopulaires .figurespopulaires a .figurepop figcaption {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.pluspopulaires .figurespopulaires a .figurepop .image {
    /* border: 2px solid black; */
    border-radius: 20px 0 0 20px;
    width: 100%; 
    height: 260px;
    overflow: hidden;
}

.pluspopulaires .figurespopulaires a .figurepop .image img {
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}


.pluspopulaires .figurespopulaires a .figurepop .figaside .etoile {
    color: #0065FC;
}

.hebergements .afficher {
    padding-left: 15px;
}

.hebergements .afficher a {
    text-decoration: none;
    color:black;
}


/* Activutés */
.activites { 
    border: 2px solid green;
    width: 100%;
}


.activites .figuresactivites {
    display : flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.activites .figuresactivites a {
    width: 10%;
    height: 400px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}
 
.activites .figuresactivites a .figactivites {
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 4px 4px 10px grey;
    margin: 0;
    background-color: white;
}


.activites .figuresactivites a .figactivites .image {
    border: 2px solid yellow;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 240px;
    overflow: hidden;

}

.activites .figuresactivites a .figactivites .image img {
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}



/* Footer */
footer {
    border: 2px solid orange;

}

.footer {
    background-color: #F2F2F2;
}

.footer .orgfooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer .orgfooter ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.footer .orgfooter ul li a {
    text-decoration: none;
    list-style-type: none;
}
